---
// import NextflixLayout from "@/layouts/NextflixLayout.astro"
import { Button } from "@/components/ui/button"
---

<script>
    let displays: NodeListOf<Element> = document.querySelectorAll(".display")
    let currentlyOpen: Element | null = null

    displays.forEach((display: Element) => {
        display.addEventListener("click", () => {
            // If there is a currently open element and it's not the one being clicked, close it
            if (currentlyOpen && currentlyOpen !== display) {
                currentlyOpen.nextElementSibling?.classList.add("hidden")
                ;(currentlyOpen.children[1] as HTMLElement).classList.remove(
                    "rotate-45",
                )
            }

            // Toggle the clicked element
            display.nextElementSibling?.classList.toggle("hidden")
            ;(display.children[1] as HTMLElement).classList.toggle("rotate-45")

            // Update currentlyOpen element
            if (display.nextElementSibling?.classList.contains("hidden")) {
                currentlyOpen = null // If the clicked element is closed, set currentlyOpen to null
            } else {
                currentlyOpen = display // Otherwise, set it as the currently open element
            }
        })
    })
</script>

<section class="w-full">
    <div class="h-2 bg-gray-900"></div>
    <h3 class="pt-14 text-3xl lg:text-6xl px-4 text-center font-bold">
        Frequently Asked Questions
    </h3>
    <div class="lg:mx-44 mx-7 mt-10">
        <div class="lg:font-medium lg:text-2xl bg-stone-800 mb-3">
            <div
                class="flex justify-between items-center border-b-2 border-black p-4 hover:bg-stone-600 cursor-pointer duration-700 display"
            >
                <p>What is Netfilx?</p>
                <span class="lg:text-6xl font-thin text-3xl">+</span>
            </div>
            <div class="p-6 hidden">
                <p>
                    Netflix is a streaming service that offers a wide variety of
                    award-winning TV shows, movies, anime, documentaries and
                    more – on thousands of internet-connected devices.
                </p>
                <p class="pt-3">
                    You can watch as much as you want, whenever you want,
                    without a single ad – all for one low monthly price. There's
                    always something new to discover, and new TV shows and
                    movies are added every week!
                </p>
            </div>
        </div>
        <div class="lg:font-medium lg:text-2xl bg-stone-800 mb-3">
            <div
                class="flex justify-between items-center border-b-2 border-black p-4 hover:bg-stone-600 cursor-pointer duration-700 display"
            >
                <p>What is Netfilx?</p>
                <span class="lg:text-6xl font-thin text-3xl">+</span>
            </div>
            <div class="p-6 hidden">
                <p>
                    Netflix is a streaming service that offers a wide variety of
                    award-winning TV shows, movies, anime, documentaries and
                    more – on thousands of internet-connected devices.
                </p>
                <p class="pt-3">
                    You can watch as much as you want, whenever you want,
                    without a single ad – all for one low monthly price. There's
                    always something new to discover, and new TV shows and
                    movies are added every week!
                </p>
            </div>
        </div>
        <div class="lg:font-medium lg:text-2xl bg-stone-800 mb-3">
            <div
                class="flex justify-between items-center border-b-2 border-black p-4 hover:bg-stone-600 cursor-pointer duration-700 display"
            >
                <p>What is Netfilx?</p>
                <span class="lg:text-6xl font-thin text-3xl">+</span>
            </div>
            <div class="p-6 hidden">
                <p>
                    Netflix is a streaming service that offers a wide variety of
                    award-winning TV shows, movies, anime, documentaries and
                    more – on thousands of internet-connected devices.
                </p>
                <p class="pt-3">
                    You can watch as much as you want, whenever you want,
                    without a single ad – all for one low monthly price. There's
                    always something new to discover, and new TV shows and
                    movies are added every week!
                </p>
            </div>
        </div>

        <div class="lg:pt-20 pt-5">
            <p class="md:text-2xl px-10 text-lg text-center">
                Ready to watch? Enter your email to create or restart your
                membership.
            </p>
            <form
                class="md:flex-row relative flex flex-col items-center justify-center gap-4 py-5"
                action=""
            >
                <input
                    class="md:p-5 md:w-1/3 w-3/4 py-3 text-white bg-transparent border-2 border-green-700 rounded-sm"
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Email Address"
                    autocomplete="email"
                />
                <!-- <label
                        class="md:left-60 md:p-2 top-6 left-12 absolute pl-5 text-sm text-gray-400"
                        for="email">Email Address</label
                        > -->
                <Button className="md:w-60 md:text-2xl md:py-8 text-xl p-6"
                    >Get Started <span class="pl-2">&gt;</span>
                </Button>
            </form>
        </div>
    </div>
</section>
