---
import "../styles/globals.css"
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Netflix</title>
    </head>
    <body class="m-0 p-0 bg-black text-white">
        <slot />
    </body>
</html>
